@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.menu {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 3px solid white;
}

.menu a{
  margin: 5px 8px 25px 17px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block ;
}

/*  last child dont work :(  */
.menu :nth-child(8){
  margin-top: 190px;
}

/* first-child dont work too :( */
.menu :nth-child(1){
  color: gray;
}

.menu a:hover {
  color: gray;
}

h1{
  color: white;
  margin-bottom: 10px;
}

footer p:nth-child(2){
  text-align: center;
  color: gray;
}

p{
  margin-top: 5px;
  text-align: center;
  color: white;
}